:root {
    --primary-color: #090126;
    --secundary-color: #ca323f;
    --text-color: #f1faee;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Perfil-começo*/
.avatar {
    width: 120px;
    border-radius: 80px;
}

.profile h1{
    font-family: 'Noto Sans Mono', monospace;
    margin: 10px;
    font-size: 24px;
}

.profile h2{
    margin-top: 0;
    font-style: italic;
    font-size: 15px;
}

.profile{
    padding-top: 30px;
    text-align: center;
}

/*Social-Começo*/
.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 30px auto;
    max-width: 600px;
}

.social img {
    width: 45px;
}

.social li:last-child img {
    width: 50px;
}

@media (max-width:620px){
    .social{
        margin: 30px 40px;
    }
}

/*Lista de itens Começo*/
.links-list{
    padding-bottom: 20px;
    max-width: 800px;
    margin: auto;
}

.links-list li {
    list-style: none;
    margin: 5px 10px;
}


.links-list li a {
    color: var(--text-color);
    font-weight: 800;
    display: block;
    padding: 20px 10px;
    margin: 15px 15px;
    background: linear-gradient(
    180deg, var(--secundary-color) 50%, rgb(168, 27, 39) 100%);
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 0 0 6px var(--secundary-color)
}

.links-list li span{
    display: block;
    color: var(--text-color);
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;

}